@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* blue */
:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.623 0.214 259.815);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.623 0.214 259.815);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.623 0.214 259.815);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.546 0.245 262.881);
  --primary-foreground: oklch(0.379 0.146 265.522);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.488 0.243 264.376);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.379 0.146 265.522);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.488 0.243 264.376);
}

/* default */
/* :root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* 
:root {
  --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
} */

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  /* background-color: black; */
  /* color: white; */
  scroll-behavior: smooth;
  /* font-family: "Mona Sans", sans-serif; */
}

section {
  width: 100dvw;
}

@theme {
  /* --font-sans: "Mona Sans", sans-serif; */
  --color-white-50: #d9ecff;
  --color-black-50: #1c1c21;
  --color-black-100: #0e0e10;
  --color-black-200: #282732;
  --color-blue-50: #839cb5;
  --color-blue-100: #2d2d38;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }
}

@layer components {
  .padding-x {
    @apply px-5 md:px-10;
  }

  .padding-x-lg {
    @apply px-5 md:px-20;
  }

  .section-padding {
    @apply mt-20 px-5 md:mt-40 md:px-10;
  }

  .mt-responsive {
    @apply mt-40 md:mt-0 xl:mt-20;
  }

  /* General Grids */
  .grid-base {
    @apply grid grid-cols-1;
  }

  .grid-2-cols {
    @apply grid grid-cols-1 gap-6 md:grid-cols-2;
  }

  .grid-3-cols {
    @apply grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-3;
  }

  .grid-3-cols-md-tight {
    @apply grid grid-cols-1 gap-5 md:grid-cols-3 md:gap-0;
  }

  .grid-4-cols {
    @apply grid grid-cols-1 gap-7 md:grid-cols-2 xl:grid-cols-4;
  }

  .grid-12-cols {
    @apply grid grid-cols-1 gap-10 xl:grid-cols-12;
  }

  .hero-layout {
    @apply relative z-10 mt-32 flex h-[80vh] items-start justify-center md:h-dvh xl:mt-20 xl:items-center;
  }

  .hero-text {
    @apply pointer-events-none relative z-10 flex flex-col justify-center text-[30px] font-semibold md:text-[60px];
    img {
      @apply size-8 object-contain md:size-10;
    }
    .slide {
      @apply absolute h-[48px] translate-y-0 overflow-hidden px-2 py-[30px] pt-0 md:h-[78px] md:translate-y-1 md:px-5;
    }
  }

  .hero-badge {
    @apply bg-black-200 w-fit rounded-full px-4 py-2 text-sm text-nowrap md:text-base;
  }

  .hero-3d-layout {
    @apply absolute top-24 right-0 h-full min-h-[50vh] w-full xl:-top-20 xl:-right-20 xl:w-[70%];
  }

  .navbar {
    @apply fixed left-1/2 z-[100] w-full -translate-x-1/2 px-5 py-5 transition-all duration-300 ease-in-out md:px-20;

    &.scrolled {
      @apply top-0 bg-black;
    }

    &.not-scrolled {
      @apply top-0 bg-transparent md:top-10;
    }

    .inner {
      @apply mx-auto flex items-center justify-between;
    }

    .logo {
      @apply text-white-50 text-xl font-semibold transition-transform duration-300 hover:scale-105 md:text-2xl;
    }

    nav.desktop {
      @apply hidden items-center lg:flex;

      ul {
        @apply flex space-x-8;

        li {
          @apply text-white-50 relative;

          span {
            @apply transition-colors duration-300 hover:text-white;
          }

          .underline {
            @apply absolute -bottom-1 left-0 h-0.5 w-0 bg-white transition-all duration-300 group-hover:w-full;
          }
        }
      }
    }

    .contact-btn {
      @apply flex;

      .inner {
        @apply group-hover:bg-black-50 rounded-lg bg-white px-5 py-2 text-black transition-colors duration-300;

        span {
          @apply transition-colors duration-300 group-hover:text-white;
        }
      }
    }
  }

  .app-showcase {
    @apply mt-20 flex w-full items-center justify-center px-5 py-10 md:px-20 md:py-20;

    .showcaselayout {
      @apply flex flex-col justify-between gap-10 xl:flex-row;
    }

    .first-project-wrapper {
      @apply flex h-full flex-col justify-between xl:w-[60%];

      .image-wrapper {
        @apply relative h-96 md:h-[50vh] xl:h-[70vh];

        img {
          @apply absolute inset-0 h-full w-full rounded-xl object-cover;
        }
      }

      .text-content {
        @apply mt-5 space-y-5;

        .badges {
          @apply mb-4 flex gap-2;
        }

        h2 {
          @apply text-2xl font-bold md:text-3xl lg:text-4xl;
        }
      }
    }

    .project-list-wrapper {
      @apply flex flex-col gap-10 md:flex-row xl:w-[40%] xl:flex-col;

      .image-wrapper {
        @apply relative h-64 rounded-xl py-0 md:h-52 lg:h-72 xl:h-[37vh] xl:px-5 2xl:px-12;
      }

      img {
        @apply h-full w-full rounded-xl object-contain;
      }

      h2 {
        @apply mt-5 text-lg font-semibold md:text-xl lg:text-2xl;
      }
    }
  }

  .cta-wrapper {
    @apply relative z-20 cursor-pointer;
  }

  .cta-button {
    @apply bg-black-200 relative flex cursor-pointer items-center justify-center overflow-hidden rounded-lg px-4 py-4;

    .bg-circle {
      @apply bg-white-50 absolute top-1/2 -right-10 h-[120%] w-[120%] origin-center -translate-y-1/2 rounded-full transition-all duration-500 group-hover:right-10 group-hover:size-10;
    }

    .text {
      @apply group-hover:text-white-50 -translate-x-5 text-black uppercase transition-all duration-500 group-hover:-translate-x-5 md:text-lg xl:translate-x-0;
    }

    .arrow-wrapper {
      @apply group-hover:bg-white-50 absolute top-1/2 right-10 flex size-10 -translate-y-1/2 items-center justify-center overflow-hidden rounded-full;

      img {
        @apply size-5 translate-y-0 animate-bounce transition-all duration-500 group-hover:translate-y-0 xl:-translate-y-32;
      }
    }
  }

  .card-border {
    @apply border-black-50 bg-black-100 border;
  }

  .marquee-item {
    @apply w-32 md:w-40;
  }

  .timeline-wrapper {
    @apply absolute top-0 left-5 flex h-full justify-center md:left-10 xl:left-[35.5vw];
  }

  .timeline {
    @apply absolute -top-10 z-30 h-[110%] w-14 bg-black md:w-28;
  }

  .timeline-logo {
    @apply border-black-50 bg-black-100 flex size-10 flex-none items-center justify-center rounded-full border md:size-20 md:-translate-y-7;
  }

  .exp-card-wrapper {
    @apply flex flex-col-reverse justify-between gap-10 xl:flex-row xl:gap-20;
  }

  .gradient-edge {
    @apply absolute bottom-0 z-20 h-full w-36;
  }

  .tech-card-animated-bg {
    @apply absolute bottom-[-100%] left-0 h-full w-full bg-[#2D3240] transition-all duration-700 group-hover:bottom-0;
  }

  .tech-card-content {
    @apply relative z-10 flex flex-col items-center overflow-hidden group-hover:cursor-grab md:justify-center xl:h-[50vh] xl:gap-5;

    & p {
      @apply text-white-50 pb-5 text-center text-lg font-semibold xl:pb-0 2xl:text-2xl;
    }
  }

  .tech-grid {
    @apply mt-16 grid grid-cols-1 gap-5 md:grid-cols-3 md:gap-10 xl:grid-cols-5 xl:gap-16;
  }

  .tech-icon-wrapper {
    @apply relative flex h-60 w-52 items-center justify-center;
  }

  form {
    label {
      @apply text-white-50 mb-2 block;
    }

    input,
    textarea {
      @apply w-full rounded-md bg-blue-100 px-4 py-4 text-sm placeholder:text-blue-50 md:text-base;
    }

    a {
      @apply flex w-full items-center justify-center gap-2 rounded-md bg-white py-4 font-semibold text-black;

      img {
        @apply inline-block;
      }
    }
  }

  .footer {
    @apply text-white-50 my-10 mt-10 flex items-center justify-center px-5 md:mt-20 md:px-20 xl:px-20;

    .footer-container {
      @apply grid w-full grid-cols-1 gap-5 md:grid-cols-3 md:gap-0;
    }

    p {
      @apply cursor-pointer text-center md:text-start;
    }

    .socials {
      @apply flex items-center justify-center gap-5;

      .icon {
        @apply border-black-50 bg-black-100 hover:bg-black-50 flex size-10 cursor-pointer items-center justify-center rounded-xl border transition-all duration-500 md:size-12;
      }

      img {
        @apply inline-block;
      }
    }
  }
}

/* Hero text slider starts */
.slide {
  display: inline-block;
  flex-direction: column;
  transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  animation: wordSlider 12s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
}

@keyframes wordSlider {
  0% {
    transform: translateY(0.5%);
  }
  12.5% {
    transform: translateY(-12.5%);
  }
  25% {
    transform: translateY(-25%);
  }
  37.5% {
    transform: translateY(-37.5%);
  }
  50% {
    transform: translateY(-50%);
  }
  62.5% {
    transform: translateY(-62.5%);
  }
  75% {
    transform: translateY(-75%);
  }
  87.5% {
    transform: translateY(-87.5%);
  }
}

/* Hero Text slider ends */

.gradient-line {
  width: 2px;
  background: linear-gradient(
    0deg,
    rgba(69, 222, 196, 0) 0%,
    #62e0ff 25%,
    #52aeff 37.51%,
    #fd5c79 62.83%,
    #6d45ce 92.91%
  );
}

.gradient-edge:nth-of-type(1) {
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.gradient-edge:nth-of-type(2) {
  right: 0;
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* marquee */
.marquee {
  width: 100dvw;
  overflow: hidden;
  position: relative;
}
.marquee-box {
  display: flex;
  align-items: center;
  width: 200%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  animation: marquee 60s linear infinite;
}
.marquee-item {
  float: left;
}
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
/* marquee end */

.card {
  --start: 0;
  position: relative;
  z-index: 40;
  overflow: hidden;
  transition: border-color 1s ease-in-out;
}

.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  border: 2px solid transparent;
  background: var(--gradient);
  background-attachment: fixed;
  mask:
    linear-gradient(#0000, #0000),
    conic-gradient(
      from calc((var(--start) - 15) * 1deg),
      #ffffff1f 0deg,
      white,
      #ffffff00 100deg
    );
  mask-composite: intersect;
  mask-clip: padding-box, border-box;
  opacity: 0;
  transition: 0.5s ease;
}

.glow {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(10px);
  filter: saturate(200);
}

.card:hover::before {
  opacity: 1;
}
